<header>
  <nav class="nav-container">
    <div class="nav-wrapper container">
      <ul *ngIf="!isLogged" class="right hide-on-med-and-down">
        <li><a routerLink="/credits">Credits</a></li>
        <li><a routerLink="/login">Login</a></li>
        <li><a routerLink="/register">Register</a></li>
      </ul>

      <ul *ngIf="isLogged" class="right hide-on-med-and-down">
          <li>Welcome, {{username}}</li>
          <li><a routerLink="/credits">Credits</a></li>
          <li><a routerLink="/create">Create</a></li>
          <li><a routerLink="/logout" (click)="logout()">Logout</a></li>
        </ul>
    </div>
</nav>
</header>

<router-outlet></router-outlet>